body {
  background-color: #ccf5f5;
}

#gameholder {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 600px;
  height: 150px;
  margin: auto;
  background-image: url("/images/penguin_title.png");
}

#score {
  width: 150px;
  height: 70px;
  position: absolute;
  left: 75%;
  border: 3px groove darkslategrey;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  font-weight: 800;
  color: darkslategrey;
  text-shadow: 2px 2px lightgrey;
  background-color: rgba(0, 0, 0, 0.1);
}

#penguin1:hover {
  background-image: url("/images/mound_1_hover.png");
  cursor: pointer;
}

#penguin1 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_1.png");
}
#penguin1:active,
#penguin1.p1 {
  background-image: url("/images/penguin_1.png");
}
#penguin2:hover {
  background-image: url("/images/mound_2_hover.png");
  cursor: pointer;
}
#penguin2:active,
#penguin2.p2 {
  background-image: url("/images/penguin_2.png");
}
#penguin2 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_2.png");
}
#penguin3:hover {
  background-image: url("/images/mound_3_hover.png");
  cursor: pointer;
}
#penguin3:active,
#penguin3.p3 {
  background-image: url("/images/penguin_3.png");
}
#penguin3 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_3.png");
}
#penguin4:hover {
  background-image: url("/images/mound_4_hover.png");
  cursor: pointer;
}

#penguin4 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_4.png");
}
#penguin4:active,
#penguin4.p4 {
  background-image: url("/images/penguin_4.png");
}
#penguin5:hover {
  background-image: url("/images/mound_5_hover.png");
  cursor: pointer;
}
#penguin5:active,
#penguin5.p5 {
  background-image: url("/images/penguin_5.png");
}
#penguin5 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_5.png");
}
#penguin6:hover {
  background-image: url("/images/mound_6_hover.png");
  cursor: pointer;
}
#penguin6:active,
#penguin6.p6 {
  background-image: url("/images/penguin_6.png");
}
#penguin6 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_6.png");
}
#penguin7:hover {
  background-image: url("/images/mound_7_hover.png");
  cursor: pointer;
}
#penguin7:active,
#penguin7.p7 {
  background-image: url("/images/penguin_7.png");
}
#penguin7 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_7.png");
}
#penguin8:hover {
  background-image: url("/images/mound_8_hover.png");
  cursor: pointer;
}
#penguin8:active,
#penguin8.p8 {
  background-image: url("/images/penguin_8.png");
}
#penguin8 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_8.png");
}
/* adding css */

#penguin9:hover {
  background-image: url("/images/mound_1_hover.png");
  cursor: pointer;
}

#penguin9 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_1.png");
}
#penguin9:active,
#penguin9.p9 {
  background-image: url("/images/penguin_1.png");
}
#penguin10:hover {
  background-image: url("/images/mound_2_hover.png");
  cursor: pointer;
}
#penguin10:active,
#penguin10.p10 {
  background-image: url("/images/penguin_2.png");
}
#penguin10 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_2.png");
}
#penguin11:hover {
  background-image: url("/images/mound_3_hover.png");
  cursor: pointer;
}
#penguin11:active,
#penguin11.p11 {
  background-image: url("/images/penguin_3.png");
}
#penguin11 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_3.png");
}
#penguin12:hover {
  background-image: url("/images/mound_4_hover.png");
  cursor: pointer;
}

#penguin12 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_4.png");
}
#penguin12:active,
#penguin12.p12 {
  background-image: url("/images/penguin_4.png");
}
#penguin13:hover {
  background-image: url("/images/mound_5_hover.png");
  cursor: pointer;
}
#penguin13:active,
#penguin13.p13 {
  background-image: url("/images/penguin_5.png");
}
#penguin13 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_5.png");
}
#penguin14:hover {
  background-image: url("/images/mound_6_hover.png");
  cursor: pointer;
}
#penguin14:active,
#penguin14.p14 {
  background-image: url("/images/penguin_6.png");
}
#penguin14 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_6.png");
}
#penguin15:hover {
  background-image: url("/images/mound_7_hover.png");
  cursor: pointer;
}
#penguin15:active,
#penguin15.p15 {
  background-image: url("/images/penguin_7.png");
}
#penguin15 {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_7.png");
}
#yeti:hover {
  background-image: url("/images/mound_9_hover.png");
  cursor: pointer;
}
#yeti:active,
#yeti.y {
  background-image: url("/images/yeti.png");
}
#yeti {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("/images/mound_9.png");
}
